@media (max-width: 992px) {
    body {
        
        
    }

    .cabecalho {
        width: 100%;
    }

    .perfil {

        display: flex;
        
        .sobre-eu{
            display: flex;
            flex-flow: column wrap;
            width: 70%;
            text-align: center;
        }

        .redes-sociais {
            display: flex;
            justify-content: center;
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            .projetos {
                flex-flow: column nowrap;
            }
        }
    }

    .conhecimento{

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .info-conhecimento {
            text-align: center;
            margin: 0 0 20px;
        }
        
    }
}

@media (max-width: 768px) {


        .perfil {

            .sobre-eu {

                width: 80%;
            }

            img {

                width: 35rem;
                height: 35rem;
            }
        }

}

@media (max-width: 576px) {


     

        .cabecalho {
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 50px;
                height: 50px;
            }

            ul {
                gap: 1rem;
                margin: 0;
                font-size: 1.6rem;
            }
        }

        .perfil {
        
            .sobre-eu{
                
            }

            img {
                width: 250px;
                height: 250px;
            }

            p {
                font-size: 1.6rem;
                
            }

            .redes-sociais {

                a {
                    font-size: 1.6rem;
                    padding: 12px;
                }
            }
        }

        .info {
            display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column nowrap;   

            div {
                
                h2 {
                    font-size: 2.5rem;

                }

                .projetos {
                    
                    
                    article {
                        padding: 2rem;
                        width: 30rem;

                        h3 {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }

                        a {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }

        .conhecimento {
            display: flex;
            align-items: center;
            justify-content: center;

            .info-conhecimento{
                width: 35rem;
                h2 {
                    font-size: 2.6rem;
                }
            }

            article {
                width: 80%;
                
                div {
                    font-size: 3rem;
                }
            }
            
        }

}



@media (max-width: 375px) {


    .cabecalho {
    

        ul{
        
            a{
                padding: 0.5rem;
                font-size: 1.6rem;
            }
        }
    }

    .perfil{
        font-size: 50%;

        img {
            width: 10rem;
            height: 10rem;
        }

        .funcao {
            font-size: 1rem;
        }

        p {
            font-size: 1.6rem;
            font-weight: 300;
        }
        
        .redes-sociais {
            a{
                padding: 0.8rem;
            }
        }
    }

    .info {
       
        

        div {

            h2 {
                font-size: 2rem;
            }

            .projetos {
                

                article {
                    width: 250px;
                }
            }
        }
    }

    .conhecimento {
        

        article {
            gap: 10px;
           

            div {
                font-size: 1.8rem;
                padding: 16px;
                margin: 8px;
                display: flex;
            }
        }
    }
}