html {
    font-size: 62.5%;
    font-family: 'Roboto';
}

body {
    display: grid;
    font-size: 2rem;
    font-weight: 300;
    grid: 
    "cabecalho cabecalho cabecalho" 
    "perfil perfil perfil" 
    "info info info"
    "conhecimento conhecimento conhecimento";
    background-color: #232946;
    color: #b8c1ec;
}

.cabecalho {
    grid-area: cabecalho;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #191D26;


    img {
        width: 100px;
        height: 100px;
    }

    ul {
        display: flex;
        gap: 35px;

        li {
            padding: 10px;
        }
    

        a {
            color: #fff;
            border: 1px solid;
            border-radius: 50px;
            padding: 10px;
            transition: 0.3s ease-in-out;
        }
    }

}

.cabecalho nav .lista-cabecalho li a:hover {
    color: #b8c1ec;
}

.perfil {
    grid-area: perfil;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 450px;
    padding: 20px ;
    border: 2px solid #191D26;
    gap: 50px;
    width: 100vh;

    img {
        width: 500px;
        height: 500px;
    }

    h3 {
        font-weight: 500;
        margin: 16px 0;
    }

    .funcao {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        margin: 16px 0;
    }

    p {
        line-height: 160%;
        font-size: 1.8rem;
        margin: 32px 0 48px ;
    }

    .redes-sociais {
        display: flex;
        align-items: center;
        gap: 20px;
    }
        a {
        border: 2px solid ;
        border-radius: 6px;
        font-size: 2rem;
        padding: 20px;
       
    }
}

.info {
    grid-area: info;
}

.conhecimento {
    grid-area: conhecimento;
}